a {text-decoration: none;}
a:link, a:visited {color: green;}
a:hover, a:active {color:red;}

.left, .right{display: inline;}
.left {float: left;}
.right {float: right;}

.header {
    max-width: 70%;
    height: 60px;
    margin-bottom: 50px;
}

.content {
    max-width: 70%;
    margin: 0 auto;
    min-height: 400px;
    height: auto;
}
